# yourself introduction

In [2]:
name='sanjeevani'

In [3]:
surname='ringankar'

In [8]:
print(name +surname)

sanjeevaniringankar

In [9]:
print(name + ' ' + surname)

sanjeevani ringankar

In [12]:
msg= "completed gratuation in electrical engg"

In [13]:
msg

'completed gratuation in electrical engg'

In [1]:
place= " i live in pune"

In [8]:
place

' i live in pune'

### airthmatic operation

### addition

In [7]:
num = int(input('Enter the first number'))
num1= int(input('Enter the second number'))
res = num + num1
print('Sum is',res)

Enter the first number23
Enter the second number45
Sum is 68

### substraction

In [9]:
num = int(input('Enter the first number'))
num1= int(input('Enter the second number'))
res = num - num1
print('diffrence is',res)

Enter the first number98
Enter the second number57
diffrence is 41

### multipcation

In [10]:
num = int(input('Enter the first number'))
num1= int(input('Enter the second number'))
res = num * num1
print('multipcation is',res)

Enter the first number22
Enter the second number22
multipcation is 484

### division

In [11]:
num = int(input('Enter the first number'))
num1= int(input('Enter the second number'))
res = num / num1
print('division is',res)

Enter the first number200
Enter the second number4
division is 50.0

### modulus

In [2]:
num = int(input('Enter the first number'))
num1= int(input('Enter the second number'))
res = num % num1
print(' modulus is',res)

Enter the first number88
Enter the second number2
 modulus is 0

###  exponent

In [3]:
num = int(input('Enter the first number'))
num1= int(input('Enter the second number'))
res = num ** num1
print('exponent is',res)

Enter the first number5
Enter the second number6
exponent is 15625

# swap to number

In [4]:
p=int(input("enter the valu for p"))
q=int(input("enter the valu for q"))
temp=p
p=q
q=temp
print("the valu of p after swapping:",p)
print("the valu of q after swapping:",q)

enter the valu for p34
enter the valu for q56
the valu of p after swapping: 56
the valu of q after swapping: 34

## swap two number without third varibal

In [5]:
 a=int(input("enter the valu for a"))
b=int(input("enter the valu for b"))
print("valu of a:",a)
print("valu of b:",b)
print("valu before swapping") 
a,b=b,a
print("valu after swapping")
print("valu of a:",a)
print("valu of b",b)

enter the valu for a24
enter the valu for b34
valu of a: 24
valu of b: 34
valu before swapping
valu after swapping
valu of a: 34
valu of b 24

## to compute simpal intrest

In [6]:
Amount = int(input("Enter the amount: "))
Year = int(input("Enter the number of years: "))
Rate = float(input("Enter the rate of interest: "))
SimpleInterset = (Amount*Year*Rate)/100

print("The simple interset is:", SimpleInterset)

Enter the amount: 12
Enter the number of years: 32
Enter the rate of interest: 56
The simple interset is: 215.04

## average of five number by user input

In [1]:
 num1 = int(input('Enter first number: '))
num2 = int(input('Enter second number: '))
num3 = int(input('Enter third number: '))
num4 = int(input('Enter four number: '))
num5 = int(input('Enter fifth number: '))

avg = (num1 + num2 + num3 + num4 + num5) / 5


print('The average of numbers= ' ,avg)

Enter first number: 5
Enter second number: 10
Enter third number: 15
Enter four number: 20
Enter fifth number: 25
The average of numbers=  15.0

## discriminant of qudratic equatio

In [2]:

a = float(input('Enter a: '))
b = float(input('Enter b: '))
c = float(input('Enter c: '))
d = (b**2) - (4*a*c)
print(d)

Enter a: 8
Enter b: 10
Enter c: 5
-60.0

### areas of shape

## rectangale

In [7]:
l = float(input('Enter the length of a Rectangle: '))
b = float(input('Enter the breadth of a Rectangle: '))
Area = l * b
print("Area of a Rectangle is=", Area)

Enter the length of a Rectangle: 67
Enter the breadth of a Rectangle: 23
Area of a Rectangle is= 1541.0

## square

In [8]:
side = int(input("Enter the side:"))
Area = side*side
print("Area of the square=",(Area))

Enter the side:7
Area of the square= 49

## trangle

In [9]:
b = int(input("Input the base : "))
h = int(input("Input the height : "))

area = b*h/2

print("area = ", area)

Input the base : 20
Input the height : 10
area =  100.0

## circle

In [10]:
r = float(input("Enter the radius of Circle : " ))
PI = 3.14

area = PI * r * r

print("Area : ",area)

Enter the radius of Circle : 4
Area :  50.24

## power of number

In [11]:
num, power = 3, 2
print(num**power)

9

## python version

In [1]:
import platform
print(platform.python_version())

3.9.13

## calculate salary

In [ ]:
name= str(input("Enter name of employee:"))
basic=float(input("Enter Basic Salary :"))
DA = 5% of Basic,
HRA = 7% of Basic,
PF = 3% of Basic,